.applicationFormWraper {
  padding-top: 100px;
  padding-bottom: 50px;
}
.applicationFormWraper h1 {
  text-align: center;
  margin-bottom: 25px;
}
form .singleLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
form .singleLine div {
  display: flex;
  flex-direction: column;
}
form .singleLine > div > label {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 2px;
}
form .singleLine > div > input[type="email"] {
  text-transform: lowercase;
}
form .singleLine > div > input,
form .singleLine > div > select {
  padding: 10px 7px;
  border: 2px solid #797979;
  outline: none;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 500;
}
.firtsInpur {
  width: 49%;
  margin-bottom: 10px;
}
.SecondInpur {
  width: 49%;
  margin-bottom: 10px;
}
.DateOfBirthIdentity > .firtsInpur {
  width: 80%;
}
.DateOfBirthIdentity > .SecondInpur {
  width: 18%;
}
.previouScholl > .firtsInpur {
  width: 70%;
}
.previouScholl > .SecondInpur {
  width: 28%;
}
.submitButton {
  text-align: center;
  margin: 30px 0;
}
.submitButton button {
  padding: 10px 35px;
  outline: none;
  border: none;
  background-color: #32a93e;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
@media (max-width: 767px) {
  form .singleLine {
    display: block;
  }
  .firtsInpur,
  .SecondInpur,
  .previouScholl > .firtsInpur,
  .previouScholl > .SecondInpur,
  .DateOfBirthIdentity > .firtsInpur,
  .DateOfBirthIdentity > .SecondInpur {
    width: 100%;
  }
}
