nav {
  width: 100vw;
  position: fixed;
  background-color: rgb(228, 228, 228);
  z-index: 999;
}
.logo {
  width: 60px;
  height: auto;
  border-radius: 50%;
}
.middleList .mainNavList,
.loginRegistration ul {
  display: flex;
}
.middleList .mainNavList li,
.loginRegistration ul li {
  font-weight: 600;
  position: relative;
}
.mainNavList li a {
  display: block;
  font-size: 14px;
  padding: 5px 10px;
  transition: 0.3s;
}
.loginRegistration ul li a {
  display: block;
  font-size: 14px;
  padding: 5px 10px;
  transition: 0.3s;
}
.middleList .mainNavList li:hover a,
.loginRegistration ul li:hover a {
  color: #32a93e;
}
.loginRegistration ul li:last-child {
  background-color: #32a93e;
  border-radius: 5px;
}
.loginRegistration ul li:last-child a {
  color: #fff;
}

.submenuList {
  position: absolute;
  border-radius: 5px;
  width: 150px;
  background-color: #fff;
  display: none;
}
.submenuList li:hover a {
  background-color: rgb(153, 153, 153);
  color: #fff !important;
}
.middleList .mainNavList li:hover .submenuList {
  display: block;
}
.toggleBar {
  padding: 5px 0;
  display: none;
  align-items: center;
  user-select: none;
  color: rgb(32, 32, 32);
  cursor: pointer;
  display: none;
}
.toggleBar span {
  font-size: 30px;
}
.responsiveNavList {
  display: none;
  position: absolute;
  top: 67px;
  left: 0;
  background-color: rgb(255, 255, 255);
  /* background-color: red; */
  width: 100%;
  text-align: center;
  margin-left: -767px;
  transition: 0.3s;
}
.active {
  margin-left: 0;
}
@media (max-width: 767px) {
  .toggleBar {
    display: flex;
  }
  .middleList,
  .loginRegistration {
    display: none;
  }
  .responsiveNavList,
  .responsiveNavList .middleList,
  .responsiveNavList .loginRegistration {
    display: block;
  }
  .responsiveNavList .middleList .mainNavList {
    display: block;
  }
  .responsiveNavList .loginRegistration ul {
    display: block;
  }
  .submenuList {
    top: 0;
    z-index: 1;
    border-radius: 0;
  }
  .loginRegistration ul li:last-child {
    border-radius: 0;
  }
}
